<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.licc.dao.persist.TalentUserMapper">

  <resultMap id="BaseResultMap" type="com.licc.dao.po.TalentUser">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="PRODUCT" jdbcType="INTEGER" property="product" />
    <result column="REFERRAL_CODE" jdbcType="VARCHAR" property="referralCode" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="INDUSTRY_ID" jdbcType="BIGINT" property="industryId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="NO_TIME" jdbcType="TIMESTAMP" property="noTime" />
    <result column="OPEN_TIME" jdbcType="TIMESTAMP" property="openTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="REMART" jdbcType="VARCHAR" property="remart" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, NAME, MOBILE, ID_CARD, PRODUCT, REFERRAL_CODE, PARENT_ID, USER_ID, INDUSTRY_ID, 
    STATUS, NO_TIME, OPEN_TIME, CREATE_TIME, UPDATE_TIME, REMART
  </sql>

  <select id="page" parameterType="com.licc.common.util.QueryParameters" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from talent_user
    <if test="params != null">
      <include refid="exampleCondition" />
    </if>
    <if test="sorts != null">
      <foreach collection="sorts" index="key" item="value" open="order by" separator=",">
        ${key} ${value}
      </foreach>
    </if>
    <if test="page != null">
      limit #{page.from} , #{page.size}
    </if>
  </select>

  <sql id="exampleCondition">
    <where>
      <if test="params.name != null">
        and NAME like '%${params.name}%'
      </if>
      <if test="params.mobile != null">
        and MOBILE like '%${params.mobile}%'
      </if>
      <if test="params.idCard != null">
        and ID_CARD like '%${params.idCard}%'
      </if>
      <if test="params.product != null">
        and PRODUCT = #{params.product}
      </if>
      <if test="params.referralCode != null">
        and REFERRAL_CODE like '%${params.referralCode}%'
      </if>
      <if test="params.parentId != null">
        and PARENT_ID = #{params.parentId}
      </if>
      <if test="params.userId != null">
        and USER_ID = #{params.userId}
      </if>
      <if test="params.industryId != null">
        and INDUSTRY_ID = #{params.industryId}
      </if>
      <if test="params.status != null">
        and STATUS = #{params.status}
      </if>
      <if test="params.noTime != null">
        and NO_TIME = #{params.noTime}
      </if>
      <if test="params.openTime != null">
        and OPEN_TIME = #{params.openTime}
      </if>
      <if test="params.createTime != null">
        and CREATE_TIME = #{params.createTime}
      </if>
      <if test="params.updateTime != null">
        and UPDATE_TIME = #{params.updateTime}
      </if>
      <if test="params.remart != null">
        and REMART like '%${params.remart}%'
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.licc.common.util.QueryParameters" resultType="int">
    select
    count(1)
    from talent_user
    <if test="params != null">
      <include refid="exampleCondition" />
    </if>
  </select>

  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from talent_user
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    delete from talent_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.licc.dao.po.TalentUser">
    insert into talent_user (ID, NAME, MOBILE, 
      ID_CARD, PRODUCT, REFERRAL_CODE, 
      PARENT_ID, USER_ID, INDUSTRY_ID, 
      STATUS, NO_TIME, OPEN_TIME, 
      CREATE_TIME, UPDATE_TIME, REMART
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{product,jdbcType=INTEGER}, #{referralCode,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{industryId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{noTime,jdbcType=TIMESTAMP}, #{openTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remart,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.licc.dao.po.TalentUser">
    insert into talent_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="idCard != null">
        ID_CARD,
      </if>
      <if test="product != null">
        PRODUCT,
      </if>
      <if test="referralCode != null">
        REFERRAL_CODE,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="industryId != null">
        INDUSTRY_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="noTime != null">
        NO_TIME,
      </if>
      <if test="openTime != null">
        OPEN_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="remart != null">
        REMART,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=INTEGER},
      </if>
      <if test="referralCode != null">
        #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="noTime != null">
        #{noTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remart != null">
        #{remart,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.licc.dao.po.TalentUser">
    update talent_user
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        PRODUCT = #{product,jdbcType=INTEGER},
      </if>
      <if test="referralCode != null">
        REFERRAL_CODE = #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="industryId != null">
        INDUSTRY_ID = #{industryId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="noTime != null">
        NO_TIME = #{noTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null">
        OPEN_TIME = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remart != null">
        REMART = #{remart,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="update" parameterType="com.licc.dao.po.TalentUser">
    update talent_user
    set NAME = #{name,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      PRODUCT = #{product,jdbcType=INTEGER},
      REFERRAL_CODE = #{referralCode,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      USER_ID = #{userId,jdbcType=BIGINT},
      INDUSTRY_ID = #{industryId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=INTEGER},
      NO_TIME = #{noTime,jdbcType=TIMESTAMP},
      OPEN_TIME = #{openTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMART = #{remart,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>